<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Vue Zuela</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>

      <div class="cart">Cart({{ cart }})</div>
      
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img v-bind:src="image">
          </div>
          <div class="product-info">
            <h1>{{ product }}</h1>
            <!-- attribute binding and practicing conditionals -->
            <div><a :href="cheatUrl" target="_blank">Cheat Sheet</a></div>
            <p v-if="inventory > 10">In Stock: {{inventory}} left</p>
            <p v-if="onSale">10% off while supplies last!</p>
            <p v-else-if="inventory <=10 && inventory > 0">Almost sold out!</p>
            <p v-else>Out of Stock</p>
            <div>Ingredients:</div>
            <ul>
              <!-- iterating the details array and also accessing the index -->
              <!-- give each dom element a unique key a la react -->
              <li v-for="(detail, index) in details" :key="index"> {{index}} {{detail}}</li>
            </ul>
            <div>Available colors:</div>
            <ul>
              <li v-for="variant in variants" :key="variant.id" @mouseover="updateImage(variant.image)">{{variant.color}}</li>
            </ul>
            <button class="button" @click="addToCart">Add to Cart</button>
            <button class="clearButton" @click="clearCart(cart)">Clear cart</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = appVue.mount('#app')
    </script>
  </body>
</html>
